/*Grid*/


.site {
    display: grid;
    height: 95vh;
    width: auto;
    grid-template-columns: auto 30% 25% 25%;
    grid-template-rows: 10% 5% 65% 20%;
    grid-gap: 1vh;
    justify-content: stretch;

    grid-template-areas:
            "logo header header header"
            "nav bar bar bar"
            "nav edit content content"
            "nav description description description";
}

.company-logo{
    grid-area: logo;
    background-color: green;
}

.page-title{
    grid-area: header;
    background-color: yellow;
}

.navbar{
    grid-area: nav;
    background-color: grey;
}


.main{
    grid-area: content;
    background-color: blueviolet;
}

.edit_content{
    grid-area: edit;
    background-color: blue;
}

.explanation{
    grid-area: description;
    background-color: green;
}


.search_bar {
    grid-area: bar;
    border: solid black;
    background-color: aqua;
}




    /*Normal css-class*/


.btnr{
    border-radius: 50%;
    height: 5%;
    width: 3.625%;
}

.table{
    text-align: left;
    width: 100%;
    font-family: Calibri;
    font-size: 30px;
    background-color: green;

}


h1{
    margin-left: 1px;
    font-family: Calibri;
}


#right{
    float: right;
}

#left{
    float: left;
}

/*#popup{*/
    /*opacity: 0;*/
    /*position: fixed;*/

/*}*/

/*#popup:target{*/
    /*opacity: 1;*/
    /*position: fixed;*/
    /*background-color: blueviolet;*/
    /*border: solid black 2px;*/

/*}*/

/*#popupE{*/
    /*opacity: 0;*/
    /*position: fixed;*/

/*}*/

/*#popupE:target{*/
    /*opacity: 1;*/
    /*position: fixed;*/
    /*background-color: white;*/
    /*border: solid black 2px;*/

/*}*/