
.site {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 10% 60% 20%;
  grid-gap: 10px;
  justify-content: stretch;	

  grid-template-areas:
  "header header"
  "nav bar"
  "nav content"
  "nav description";
}

.page-title{
  grid-area: header;
  background-color: yellow;
}

.navbar{
  grid-area: nav;
  background-color: grey;
}

.bar_content{
  grid-area: bar;
  background-color: orange;
}

.main{
  grid-area: content;
  background-color: red;
}

.explanation{
  grid-area: description;
  background-color: green;
}
